# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.class
.idea/
"Tool\345\267\245\345\205\267\345\214\205/"
